// this is a trick to position the modal near to an element
// but the backdrop should still apply to the entire page
.modal-container {
  // uncomment the next line to contain it in the container element
  // position: relative;

  .modal {
    position: absolute;

    // because the dialog may be larger than the container
    overflow: visible;

    .modal-dialog {
      // override Bootstrap's contraints
      width: auto;
      margin: auto;
    }
  }
}